<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/base.css">
    <link rel="stylesheet" href="/home/css/course-container.css">
    <link rel="stylesheet" href="/home/css/nav-bar.css">
    <link rel="stylesheet" href="/watching/css/watching.css">
    <title>Document</title>
  </head>
  <body>

    <nav class="home-navbar">
      <a href="/"><img class="home-navbar-img" src="/home/img/homepage-logo.png"
          alt></a>
      <form class="home-navbar-form" action="/courses/search">
        <input name="search-course" type="text">
        <button type="submit"></button>
      </form>
      <a href="/profile/">
        <img class="home-navbar-profile-pic" src="/home/img/profile-pic.png"
          alt>
      </a>
    </nav>

    <main>
      <div class="course-container">
        <div class="course-preview">
          <iframe
            width="1218"
            height="685px"
            src="https://www.youtube.com/embed/jc_MDDgPlYU"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin"
            allowfullscreen>
          </iframe>
        </div>



        <div class="course-toc">

          <div class="course-toc-header">
            <h2 class="course-toc-header-title">Índice</h2>
          </div>

          <ul>
            <li class="course-lesson"></li>
            <li class="course-lesson"></li>
            <li class="course-lesson"></li>
            <li class="course-lesson"></li>
            <li class="course-lesson"></li>
            <li class="course-lesson"></li>
            <li class="course-lesson"></li>
            <li class="course-lesson"></li>
            <li class="course-lesson"></li>
            <li class="course-lesson"></li>
            <li class="course-lesson"></li>
            <li class="course-lesson"></li>
            <li class="course-lesson"></li>
            <li class="course-lesson"></li>
            <li class="course-lesson"></li>
            <li class="course-lesson"></li>
            <li class="course-lesson"></li>
            <li class="course-lesson"></li>
            <li class="course-lesson"></li>
            <li class="course-lesson"></li>
            <li class="course-lesson"></li>
            <li class="course-lesson"></li>
            <li class="course-lesson"></li>
            <li class="course-lesson"></li>
            <li class="course-lesson"></li>
          </ul>

        </div>
      </div>

      <div class="about-instructor">

        <h2>Conheça Mavee Amelina</h2>

        <div class="instructor-container">

          <div class="instructor-info">
            <img class="instructor-image" src="./image.png" alt>
            <p class="instructor-description">AWS certified, Professional Web
              Developer and Instructor</p>
          </div>

          <div class="vertical-bar"></div>

          <div class="instructor-bio">
            <p class="instructor-bio-title">BIOGRAPHY</p>
            <p class="instructor-bio-paragraph">Starting out at the age of 12 I
              never stopped learning new programming skills and languages. Early
              I started creating websites for friends and just for fun as well.
              Besides web development I also explored Python and other
              non-web-only languages. This passion has since lasted and lead to
              my decision of working as a freelance web developer and
              consultant. The success and fun I have in this job is immense and
              really keeps that passion burningly alive.</p>

            <p class="instructor-bio-title">EXPERIENCE AS INSTRUCTOR</p>
            <p class="instructor-bio-paragraph">As a self-taught professional I
              really know the hard parts and the difficult topics when learning
              new or improving on already-known languages. This background and
              experience enables me to focus on the most relevant key concepts
              and topics. My track record of many 5-star rated courses and more
              than 2,000,000 students on Udemy is the best proof for that.</p>

            <p class="instructor-bio-title">INSTRUCTOR RATING </p>
            <div class="instructor-rating">

              <div class="instructor-rating-item">
                <img class="instructor-rating-item-image" src="./star.png" alt>
                <p>4,6 Classificação do instrutor</p>
              </div>

              <div class="instructor-rating-item">
                <img class="instructor-rating-item-image" src="./star.png" alt>
                <p>4,6 Classificação do instrutor</p>
              </div>

              <div class="instructor-rating-item">
                <img class="instructor-rating-item-image" src="./star.png" alt>
                <p>4,6 Classificação do instrutor</p>
              </div>

              <div class="instructor-rating-item">
                <img class="instructor-rating-item-image" src="./star.png" alt>
                <p>4,6 Classificação do instrutor</p>
              </div>

            </div>
          </div>

        </div>

      </div>

      <div class="questions-answers-container">

        <h2>Perguntas dos alunos</h2>

        <div class="question">

          <div class="question-owner-image">
            <img class="user-question-image" src="./image.png" alt>
          </div>

          <div class="question-data">
            <p class="question-owner-name">@Mallory G. Crow.</p>
            <h2 class="question-title">Lorem Ipsum is simply dummy text of the
              printing.</h2>
            <p class="question-body">Lorem Ipsum is simply dummy text of the
              printing and typesetting industry. Lorem Ipsum is simply dummy
              text of the printing and typesetting industry.</p>
            <div class="question-votes">
              <span id="upvote"><img src="upvote.png" alt></span>
              <span id="downvote"><img src="downvote.png" alt></span>
            </div>
          </div>

        </div>

        <div class="question">

          <div class="question-owner-image">
            <img class="user-question-image" src="./image.png" alt>
          </div>

          <div class="question-data">
            <p class="question-owner-name">@Mallory G. Crow.</p>
            <h2 class="question-title">Lorem Ipsum is simply dummy text of the
              printing.</h2>
            <p class="question-body">Lorem Ipsum is simply dummy text of the
              printing and typesetting industry. Lorem Ipsum is simply dummy
              text of the printing and typesetting industry.</p>
            <div class="question-votes">
              <span id="upvote"><img src="upvote.png" alt></span>
              <span id="downvote"><img src="downvote.png" alt></span>
            </div>
          </div>

        </div>

        <div class="question">

          <div class="question-owner-image">
            <img class="user-question-image" src="./image.png" alt>
          </div>

          <div class="question-data">
            <p class="question-owner-name">@Mallory G. Crow.</p>
            <h2 class="question-title">Lorem Ipsum is simply dummy text of the
              printing.</h2>
            <p class="question-body">Lorem Ipsum is simply dummy text of the
              printing and typesetting industry. Lorem Ipsum is simply dummy
              text of the printing and typesetting industry.</p>
            <div class="question-votes">
              <span id="upvote"><img src="upvote.png" alt></span>
              <span id="downvote"><img src="downvote.png" alt></span>
            </div>
          </div>

        </div>

        <div class="horizontal-bar"></div>

        <div class="question">

          <div class="question-owner-image">
            <img class="user-question-image" src="./image.png" alt>
          </div>

          <div class="question-data">
            <p class="question-owner-name">@Mallory G. Crow.</p>
            <h2 class="question-title">Lorem Ipsum is simply dummy text of the
              printing.</h2>
            <p class="question-body">Lorem Ipsum is simply dummy text of the
              printing and typesetting industry. Lorem Ipsum is simply dummy
              text of the printing and typesetting industry.</p>
            <div class="question-votes">
              <span id="upvote"><img src="upvote.png" alt></span>
              <span id="downvote"><img src="downvote.png" alt></span>
            </div>
          </div>

        </div>

      </div>

    </main>

    <div class="footer"></div>
  </body>
</html>
